<% content_for :title do %>
My Questions
<% end %>

<div>
  Responses
</div>

<ul class="table-view">
  <%= render @questions %>
</ul>

<div>
  Pending
</div>

<ul class="table-view">
  <button class="btn btn-negative btn-block">
   No pending questions
  </button>
</ul>
