<li class="table-view-cell media">
  <a class="navigate-right">
    <img class="media-object pull-left" src="http://baconmockup.com/42/42/">
    <div class="media-body">
      <%= question.title %>:
      Item 1
    </div>
  </a>
</li>
