<h3>Welcome, <%= current_user.email %>!</h3>
<hr>
<p>You are currently logged in. <%= link_to "Click here", logout_path %> to log out.</p>
<hr>
<p><%= link_to "Ask a question", new_user_question_path(current_user.id) %></p>
